/* Estilos generales para dispositivos móviles y pantallas pequeñas */
@media only screen and (max-width: 600px) {
    /* Ajustar tamaño de fuente para elementos principales */
    header {
      padding: 8px 0;
    }
  
    .logo {
      font-size: 1rem;
    }
  
    .login {
      font-size: 0.8rem;
      padding: 4px 8px;
    }
  
    .home-title {
      font-size: 2rem;
    }
  
    .home-subtitle {
      font-size: 0.8rem;
      margin: 0.5rem 0;
    }
  
    .post-filter {
      flex-wrap: wrap;
    }
  
    .filter-item {
      font-size: 0.8rem;
      margin-bottom: 6px;
    }
  
    .content {
      font-size: 0.9rem;
    }
  }
  