@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* Importante ↓ */
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    /*  */
    font-family: 'Poppins', sans-serif;
}

/* Variables que se van a utilizar */
:root {
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
    --bg-color2: #f0f0f0;
}

/* Nuevo */
::selection {
    background-color: var(--second-color);
    color: var(--bg-color);
}

/*  */


header {
    /* Importante ↓ */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background-color: var(--bg-color2);
    /* Cambia el color de fondo según tus preferencias */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Añade una sombra para resaltar el header */
}

.container {
    /* Importante ↓ */
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.light .container1 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.light .container1 span {
    color: var(--container-color);
    display: block;
}

.light .home {
    width: 100%;
    min-height: 440px;
    background: var(--bg-color2);
    display: grid;
    justify-content: center;

}

.light .home-text {
    text-align: center;
    color: var(--bg-color);
}

.light .home-title {
    color: var(--container-color);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: -10px;
    background: var(--bg-color2);
    position: relative;
    animation: text 3s 1;
}

.light .home-subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--second-color);
}

.nav {
    /* Importante ↓ */
    display: flex;
    align-items: center;
    /* Importante ↓  */
    justify-content: space-between;
    padding: 18px 0;
}

.light .logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.dark .logo {
    font-size: 1.5rem;
    font-weight: 600;
}

.logo span {
    color: var(--second-color)
}

.login {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color)
}

.login:hover {
    background: var(--container-color);
}


.dark .container1 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.dark .container1 span {
    color: white;
    display: block;
}


.dark .home {
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;

}

.dark .home-text {
    text-align: center;
    color: var(--bg-color);
}

.dark .home-title {
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: -10px;
    background: var(--container-color);
    position: relative;
    animation: text 3s 1;
}

.dark .home-subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--second-color);
}

/* Animacion para el titulo */
@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

/* Estilos del botón */
.btn {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--second-color);
    /* Cambia el color del botón según tus preferencias */
    color: white;
    border-radius: 4px;
    margin: 20px auto 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
    /* Transición suave para hover */
}

.btn:hover {
    background-color: #E64A19;
    /* Cambia el color del botón al pasar el mouse */
}

a {
    text-decoration: none;

}

li {
    list-style: none;

}

img {
    width: 100%;

}

section {
    padding: 3rem 0 2rem;
}

/* Post-Filter */
.post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Importante ↓ */
    column-gap: 1.5rem;
    /* Importante ↓ */
    margin-top: 2rem !important;

}

.light .filter-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.dark .filter-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--bg-color);
}

.active-filter {
    padding: 4px 10px;
    border-radius: 8px;
    background: var(--second-color);
    color: var(--bg-color);
}

/* Post */
.post {
    /* Importante ↓ */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-box {
    padding: 15px;
    border-radius: 4px;
    background: var(--bg-color);
    box-shadow: 0 4px 14px rgba(355deg, 25% 15% / 10%);
}

.post-img {
    width: 100%;
    height: 200px;
    /* Importante */
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    /* To remain Title in 2 lineas */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date {
    font-size: 0.875rem;
    display: flex;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}

.post-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;

    display: -webkit-box;
    /* To remain Title in 2 lineas */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Importante */
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color)
}